@keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
}

.main-subsection {
    width: 100%;
}

.main-section {
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 22%, rgba(0,212,255,0) 100%), url("./../../Assets/BackgroundImages/Garage.jpg");
    animation: shrink 5s infinite alternate;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
}

.main-avatar-frame {
    width: 18rem;
    height: 18rem;
}

.main-avatar {
    border: 5px solid #88A0A8;
    object-fit: cover;
    width: 17rem;
    height: 17rem;
}

.main-title-container {
    color: #DBD3C9;
}

.main-title {
    max-width: 50%;
}

.cursor-to-pointer {
    cursor: pointer;
}