.cv-quick-info-container {
    background-color: rgba(29, 67, 152, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0.6rem;
    height: 100%;
}

.cv-quick-info-header {
    background-color: rgba(23, 53, 121, 1);
    margin: -0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    position: relative;
}

.cv-quick-info-no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.cv-quick-info-full-width {
    width: 100%;
}

.cv-main-title {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(25, 58, 131, 1);
}

.cv-main-content {
    white-space: pre-wrap;
}